---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-10">

    <div class="md:col-span-3">
        <h1 class="mb-5 mt-15 text-5xl">About SLDC</h1>
    </div>

    <div class="md:col-span-1">
        <h2 class="mb-5 text-3xl">MISYON</h2>
        <h3 class="mb-5 text-xl">San Luis Development Cooperative</h3>
        <p class="mb-5 text-xs">Lucban Quezon</p>
    </div>

    <div class="md:col-span-2 text-center">
    <div class="inline-block text-left">
        <p>KASAPIAN - Masigasig na tumatangkililk sa mga serbisyo ng Kooperatiba.</p>
        <p>PAMUNUAN - Naglilingkod nang may kahusayan at dedikasyon.</p>
        <p>PANGASIWAAN - Nagmamalasakit sa pamamahala nang may kasanayan at kaalaman sa kooperatiba.</p>
        <p>PAMAYANAN - Nakikiisa at sumusuporta sa lahat ng programang pangkaunlaran ng Kooperatiba.</p>
    </div>
    </div>


</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-10 bg-green-900 text-white items-center">

    <div class="md:col-span-2">
        <p>"Naninindigan sa paglilingkod para sa kabuuang pag-unlad ng mga kasapi at pamayanan"</p>
    </div>

    <div class="md:col-span-1">
        <h2 class="mb-5 text-3xl">ADHIKAIN</h2>
        <h3 class="mb-5 text-xl">San Luis Development Cooperative</h3>
        <p class="mb-5 text-xs">Lucban Quezon</p>
    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-10 items-center">

    <div class="md:col-span-2">
        <h2 class="mb-5 text-3xl">PANANAW</h2>
        <h3 class="mb-5 text-xl">San Luis Development Cooperative</h3>
        <p class="mb-5 text-xs">Lucban Quezon</p>
    </div>
    
    <div class="md:col-span-1">
        <p>"Isang nangungunang Kooperatiba sa Timog Katagalugan"</p>
    </div>
</div>


</BaseLayout>