---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    <div class="md:col-span-3 ml-10">
        <h1 class="mb-5 mt-20 text-5xl">About SLDC</h1>
    </div>

    <div class="md:col-span-1 ml-10">
        <h2 class="mb-5 text-3xl">Misyon</h2>
        <h3 class="mb-5 text-xl">San Luis Development Cooperative</h3>
        <p class="mb-5 text-xs">Lucban Quezon</p>
    </div>

    <div class="md:col-span-2 ml-10">
        <p>KASAPIAN - Masigasig na tumatangkililk sa mga serbisyo ng Kooperatiba.</p>
        <p>PAMUNUAN - Naglilingkod nang may kahusayan at dedikasyon.</p>
        <p>PANGASIWAAN - Nagmamalasakit sa pamamahala nang may kasanayan at kaalaman sa kooperatiba.</p>
        <p>PAMAYANAN - Nakikiisa at sumusuporta sa lahat ng programang pangkaunlaran ng Kooperatiba.</p>
    </div>

</div>

</BaseLayout>