---
import BaseLayout from "../layouts/BaseLayout.astro";
import AppliancesAndGiftShop from "../components/AppliancesAndGiftShop.astro";
---
<BaseLayout>
    <div class="p-10">
        <h1 class="text-5xl text-center">Appliances & Gift Shop</h1>
        <AppliancesAndGiftShop />
    </div>
</BaseLayout>