---
import BaseLayout from "../layouts/BaseLayout.astro";
import StoreLocation from "../components/StoreLocation.astro"
---

<BaseLayout>
    <div class="grid grid-cols-1 gap-6 p-10">
        <div>
            <h1 class="mb-5 text-5xl">Contact Us</h1>
        </div>

        <div class="grid grid-cols-1">
            <div class="flex justify-between py-5">
                <p>CONTACT NUMBER:</p>
                <p>0917-125-1967</p>
            </div>
            <div class="flex justify-between py-5">
                <p>CREDIT DEPARTMENT:</p>
                <p>540-4910/0933-037-1708</p>
            </div>
            <div class="flex justify-between py-5">
                <p>GROCERY STORE:</p>
                <div>
                    <p>MART 1: 540-4610</p>
                    <p>MART 2: 540-6688</p>
                    <p>MART 3: 540-5630</p>
                </div>
            </div>
            <div class="flex justify-between py-5">
                <p>RICEMILL</p>
                <p>540-4201/0970-781-9657</p>
            </div>
            <div class="flex justify-between py-5">
                <p>WATER FILLING STATION</p>
                <p>09564115441/09297051314</p>
            </div>
            <div class="flex justify-between py-5">
                <p>EMAIL ADDRESS</p>
                <p>sanluisdevelopmentcooperative@yahoo.com</p>
            </div>
            <div class="flex justify-between py-5">
                <p>GCASH NUMBER</p>
                <p>0916-376-5844 A** M**** B.</p>
            </div>
            <div class="flex justify-between py-5">
                <p>OR YOU CAN VISIT US AT</p>
                <p>General Lucban corner Emilio Jacinto St. Lucban, Quezon</p>
            </div>
        </div>
    </div>
    <StoreLocation />
</BaseLayout>