---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
    <div class="p-10">
        <h1 class="text-5xl text-center">Dumagat Community Service</h1>

        <div class="p-6 md:p-10">
            <div class="max-w-4xl mx-auto rounded-2xl overflow-hidden shadow-lg">
            <iframe
                class="w-full aspect-video"
                src="https://www.youtube.com/embed/CxWtc3RJ4Uc?si=DXuSR__uUO48C2Aj"
                title="History Video"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            </div>
        </div>

    </div>
</BaseLayout>