---
import BaseLayout from "../layouts/BaseLayout.astro";
import Mart2Carousel from "../components/Mart2-Carousel.astro";
---
<BaseLayout>
    <div class="p-10">
        <h1 class="text-5xl text-center">MART 2</h1>
        <Mart2Carousel />
    </div>
</BaseLayout>