---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-10 mb-5">

    <div class="md:col-span-3">
        <h1 class="mb-5 text-5xl">HOW TO BE A MEMBER</h1>
    </div>

    <div class="md:col-span-1">
        <h2 class="mb-5 text-3xl">Ano ang Kooperatiba?</h2>
    </div>

    <div class="md:col-span-2 text-center">
    <div class="inline-block text-left">
        <p>"Ang Kooperatiba ay nakakapagsarili at nakarehistrong asosasyon ng mga tao na mayroong pare-parehong interes na may kusang loob na nag sama-sama para makamit ang kanilang sosyal, pangkabuhayan at kulturang pangangailangan at hangarin sa pamamagitan ng paglalagak ng kaukulang capital, tumatangkilik sa mga produkto at serbisyo at tumatanggap ng patas na bahagi sa mga pananagutan at benepisyo na naaayon sa pandaigdigang prinsipyo ng kooperatiba."</p>
    </div>
    </div>

    </div>

     <div class="p-10 bg-green-900 text-white">
        <h2 class="mb-5 text-3xl">BENEPISYO NG KASAPI</h2>
        <p>• Loan</p>
        <p>• Patronage Refund</p>
        <p>• Dividend</p>
        <p>• Abuluyan</p>
        <p>• Care MBA</p>
        <p>• Death Assistance</p>
        <p>• Damayan sa Utang</p>
        <p>• Credit Card (Commodity Loan)</p>
        <p>• Christmas Gift</p>
    </div>

    <div class="grid grid-cols-1 gap-6 p-10">
        <div>
            <h2 class="mb-5 text-3xl">HALAGANG DAPAT IHANDA SA PAGSAPI</h2>
        </div>

        <div class="grid grid-cols-1">
            <div class="flex justify-between py-1">
                <p>• Fixed Deposit</p>
                <p>P1,000.00 (pinakamababa)</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• Membership Fee</p>
                <p>P100.00</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• Passbook</p>
                <p>P100.00</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• Building Fund</p>
                <p>P150.00</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• Credit Card</p>
                <p>P250.00 (pinakamababa)</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• Application Fee</p>
                <p>P50.00</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• ATM Card & Mobile Banking</p>
                <p>P250.00</p>
            </div>
            <div class="flex justify-between py-1">
                <p>• ID</p>
                <p>P100.00</p>
            </div>
            <div class="flex justify-between py-1 mb-5">
                <p>• Abuluyan</p>
                <p>P500.00</p>
            </div>
            <div class="flex justify-between py-1 font-semibold">
                <p>Kabuuang Halaga:</p>
                <p>P2,500.00</p>
            </div>
        </div>

        <div>
            <h2 class="mb-5 text-2xl">Iba pang Insurance (optional)</h2>
        </div>

        <div class="grid grid-cols-1">
            <div class="flex justify-between py-1">
                <p>• Care MBA Membership Fee</p>
                <p>P150.00</p>
            </div>
            <div class="flex justify-between py-1 mb-5">
                <p>• Care MBA Contribution</p>
                <p>P240.00 3 buwan</p>
            </div>
            <div class="flex justify-between py-1 font-semibold">
                <p>Kabuuan Halaga:</p>
                <p>P390.00</p>
            </div>
        </div>

        <div>
            <h3 class="mb-5 text-lg">NOTE: Ang minimum Fixed Deposit ng isang kasapi ay nagkakahalagang P4,000.00 at kailangan itong punan sa loob ng isang (1) taon.</h3>
        </div>
    </div>

    <div class="p-10 bg-green-900 text-white">
        <h2 class="mb-5 text-3xl">MGA KAILANGAN SA PAGMIMIYEMBRO</h2>
        <p>• Pre-Membership Seminar</p>
        <p>• Membership Form</p>
        <p>• Signature of Two (2) SLDC Members</p>
        <p>• Birth Certificate</p>
        <p>• Marriage Certificate (if married)</p>
        <p>• (2) 2x2 picture & (2) 1x1 picture</p>
        <p>• TIN Number</p>
    </div>



</BaseLayout>