---
import BaseLayout from "../layouts/BaseLayout.astro";
import WaterRefilling from "../components/WaterRefilling.astro";
---
<BaseLayout>
    <div class="p-10">
        <h1 class="text-5xl text-center">Water Refilling Station</h1>
        <WaterRefilling />
    </div>
</BaseLayout>