<div class="w-full h-[400px] md:h-[500px] flex flex-col md:flex-row gap-4">

<!-- LEFT: Map WITH PIN (from 360 view location) -->
<div class="w-full md:w-1/2 rounded-xl overflow-hidden shadow-lg border">
  <iframe
    class="w-full h-full"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps?q=14.13111371998309,121.562848371091&z=18&output=embed"
  ></iframe>
</div>


  <!-- RIGHT: CLEAN 360° STREET VIEW -->
  <div class="w-full md:w-1/2 rounded-xl overflow-hidden shadow-lg border">
    <iframe
      class="w-full h-full"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed?pb=!4v1776395844955!6m8!1m7!1sMpTg9kn_H7K-J_kkxODvmQ!2m2!1d14.13111371998309!2d121.562848371091!3f298.1907996645736!4f-15.383502418077299!5f0.7820865974627469"    ></iframe>
  </div>
</div>
